{% extends 'base.html' %}

{% block head_title %}
Create Pet
{% endblock %}

{% block main_content %}
<h1>Create Pet</h1>
<div class="row">
    <div class="col-6 mb-3">
        <form method="post" action="{% url 'create_pet' %}">
            {% csrf_token %}
            {{ form }}

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

{% endblock %}

{% block footer_scripts %}
<!-- reCAPTCHA API -->
<script src="https://www.google.com/recaptcha/api.js?render={{ google_recaptcha_site_key }}"></script>
<script>
    grecaptcha.ready(function() {
        grecaptcha.execute('{{ google_recaptcha_site_key }}', {action: '{% url "create_pet" %}'}).then(function(token) {
            document.getElementById('id_recaptcha').value = token;
        });
    });


</script>
{% endblock %}